* {
    box-sizing: border-box;
}

body, html {
    margin: 0px;
    height: 90%;
    display: block;
}
header, #map {
    filter: grayscale(50%);
}
.pizzaimg {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/pizza.jpg");
    min-height: 100%;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.display-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.black {
    color: #ffffff;
    background-color: #000000;
}

.button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
}
.absolute {
    position: absolute;
}
.col-1 {
    width: 8.33333%
}

.col-2 {
    width: 16.66666%
}

.col-3 {
    width: 24.99999%
}

.col-4 {
    width: 33.33333%
}

.col-5 {
    width: 41.66666%
}

.col-6 {
    width: 49.99999%
}

.col-7 {
    width: 58.33333%
}

.col-8 {
    width: 66.66666%
}

.col-9 {
    width: 74.99999%
}

.col-10 {
    width: 83.33333%
}

.col-11 {
    width: 91.66666%
}

.col-12 {
    width: 99.99999%
}

body, h1, h2, h3, h4, h5, h6, input, button {
    font-family: "Amatic SC", sans-serif;
}

@media only screen and (min-width: 321px) {
    div.display-center span {
        color: white;
        font-size: 100px;
    }
}

@media only screen and (max-width: 320px) {
    div.display-center span {
        color: white;
        font-size: 60px !important;
    }
}

@media only screen and (min-width: 321px) {
    a.black {
        color: white;
        font-size: 36px;
        white-space: nowrap;
    }
}

@media only screen and (max-width: 320px) {
    a.black {
        color: white;
        font-size: 15px;
    }
}

.floatLeft {
    float: left;
    left: 0;
    bottom: 0;
}
.floatRight {
    float: right;
    left: 0;
    bottom: 0;
}

.bgcblack {
    background-color: black;
}
.bgcwhite {
    background-color: white;
}
.margin20 {
    margin: 20px 20px 20px 20px;
}
.paddingAuto {
    padding: 0px auto 0px auto;
}
.padding64 {
    padding-top: 64px;
    padding-bottom: 64px;
}
.clearfix {
    content: "";
    display: table;
    clear: both;
}
.marginBottom64 {
    margin-bottom: 64px;
}
.textClrWhite {
    color: white;
}
.selection {
    background-color: black;
    font-size: 36px;
}
.selection:hover {
    background-color: red;
}
h1 {
    font-size: 36px;
}
#map {
    width: 100%;
    height: 400px;
    background-color: grey;
}
input{
    width: 100%;
    padding: 16px;
}
button {
    text-align: center;
}
#contacts {
    color: #fff;
    background-color: #607d8b;
}
.margin24 {
    margin-bottom: 24px;
}
.white {
    color: white;
}
.topBar {
    position: fixed;
    width: 100%;
    z-index: 99999;
}
div.margin20 {
    max-width: 980px;
}
h1+b {
    margin-bottom: 10px;
   }
div .selection:focus {
    background-color:red;
    border: none;
}
@media (max-width: 600px) {
    .topBar {
        display: none;
    }
}
div.topBar {
    opacity: 0.5;
}
div.topBar:hover {
    opacity: 1;
}
.font24 {
    font-size: 24px;
}
a.textClrWhite {
    text-decoration: none;
}
a.textClrWhite:hover {
    background-color: gray;
    color: black;
}
.padding5 {
    padding: 0px 5px 0px 5px;
}
.noMargin {
    margin-top: 0px
}